@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: white;
  --primary: #ffffff;
  --secondary: #ffffff;
  --brand: #ffffff;
}

.dark {
  --background: black;
  --foreground: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fallback for older Safari versions */
@supports not (text-wrap: balance) {
  .balanced-text {
    text-wrap: normal; /* or another fallback style */
  }
}
